.top-screen {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 66px;
    display: flex;
    color: #ffffff;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    overflow: hidden;
    user-select: none;

    &-title {
        font-family: 'Microsoft Yahei', PingFangSC-Regular;
        font-weight: 500;
        font-size: 76px;
        color: #fff;
        line-height: 76px;
        margin-top: 20vh;
        margin-bottom: 30px;
        cursor: pointer;
        text-align: center;
    }

    &-line {
        width: 66px;
        height: 4px;
        background-color: rgb(8, 238, 169);
        margin-bottom: 20px;
    }

    &-guide {
        margin-top: 15vh;
        display: flex;
        
        &-scroll-down {
            .icon {
                position: absolute;
                bottom: 30px;
                left: calc(50% - 10px);
                border-right: 3px solid;
                border-top: 3px solid;
                border-color: rgba(255, 255, 255, 0.5);
                border-radius: 2px;
                box-sizing: unset;
                height: 20px;
                width: 20px;
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
                cursor: pointer;

                &:hover {
                    border-color: rgba(255, 255, 255, 1);
                }
            }
        }

    }


}