.home {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 66px;
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .one-piece {
    font-family: "Microsoft Yahei",PingFangSC-Regular;
    font-weight: 500;
    font-size: 76px;
    color: #fff;
    line-height: 76px;
  }
}
