.home {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 66px;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .one-piece {
    // height: 300px;
    font-family: "Microsoft Yahei", PingFangSC-Regular;
    font-weight: 500;
    font-size: 76px;
    color: #fff;
    line-height: 76px;
    margin-top: -50px;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .text-line {
    width: 100px;
    height: 4px;
    background-color: rgb(8, 238, 169);
    margin-bottom: 20px;
  }
}
