$bgc: rgba(0, 0, 0, 0.25);

.nav-wrap {
    width: 100%;
    height: 66px;
    background-color: $bgc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    color: #ffffff;
    line-height: 66px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    .logo {
        font-family: Pacifico-Regular;
        cursor: pointer;
        user-select: none;
        font-weight: 900;
        padding-left: 20px;
        line-height: 20px;
        @include flexCenter;
        flex-direction: row;
        .logo-img {
            width: 46px;
            height: 46px;
            margin-right: 10px;
        }
    }
    .links {
        padding-right: 20px;
        display: flex;
        justify-content: space-around;
        a {
            display: block;
            color: currentColor;
            min-width: 55px;
            text-align: center;
            font-weight: 600;
            &:hover {
                background-color: $bgc;
            }
        }
    }
    .fold-menu {
        width: 60px;
        height: 60px;
        position: relative;
        @include flexCenter;
        // margin-right: 15px;
        &-icon {
            width: 25px;
            height: 25px;
            margin-bottom: -10px;
        }
        &-links {
            display: none;
        }
        &-links-open {
            position: absolute;
            width: 100px;
            @include flexCenter;
            flex-direction: column;
            top: 60px;
            right: 0;
            background-color: #fff;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 5px 18px;
            box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
            z-index: 1;
            a {
                display: block;
                width: 100%;
                height: 40px;
                text-align: center;
                line-height: 40px;
                border-bottom: solid 1px $baseGreen;
                font-weight: 600;
            }
            a:nth-of-type(2n) {
                border-bottom: solid 1px $baseRed;
            }
            a:last-of-type {
                border: none;
            }
            &::before {
                width: 0;
                height: 0;
                border: 10px solid transparent;
                border-bottom-color: #fff;
                position: absolute;
                content: '';
                top: -19px;
                right: 18px;
            }
        }
    }
}

.nav-controller {
    width: 100%;
    height: 66px;
}

.fix-top {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    animation-name: navdown;
    animation-duration: 0.75s;
    animation-timing-function: ease-out;
}

.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0;
    z-index: 0;
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        flex: 1;
    }
    backdrop-filter: blur(6px);
}

.scroll-bar {
    width: 100%;
    height: 4px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    .bar {
        display: block;
        height: 4px;
        background-color: rgb(8, 238, 169);
        cursor: pointer;
    }
    .top-icon-wrap {
        width: 35px;
        height: 35px;
        position: fixed;
        right: -40px;
        bottom: 66px;
        background-color: rgba(8, 238, 169, 0.2);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.5s;
        transition-delay: 0.05s;
        transition-timing-function: ease-in;
        .top-icon {
            width: 30px;
            height: 30px;
            transform: rotateZ(-90deg);
        }
        &::before,
        &::after {
            content: '';
            width: 35px;
            height: 35px;
            background: rgba(8, 238, 169, 0.1);
            border: 1px solid rgba(8, 238, 169, 0.2);
            border-radius: 100%;
            position: absolute;
            animation-name: circleChange;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-delay: 1s;
        }
        &::after {
            animation-delay: 2s;
        }
        &:hover .top-icon {
            width: 35px;
            height: 35px;
        }
    }
    .top-icon-false {
        right: -40px;
    }
    .top-icon-true {
        right: 10px;
    }

    .heart-icon {
        width: 30px;
        height: 30px;
        position: fixed;
        right: -30px;
        top: 76px;
        transform: rotateZ(-45deg);
        z-index: 3;
        transition: right 0.5s;
        transition-delay: 0.05s;
        transition-timing-function: ease-in;
    }
    .heart-icon-true {
        right: 12.5px;
    }

    .heart-arrow-icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        position: fixed;
        top: 81px;
        transform: rotateZ(-45deg);
        right: 12.5px;
        z-index: 3;
        transition: right 0.5s;
        transition-delay: 0.05s;
        transition-timing-function: ease-in;
    }

    .heart-icon-false {
        right: -30px;
    }

    .arrow-icon {
        width: 25px;
        height: 25px;
        position: fixed;
        right: 17.5px;
        transform: rotateZ(-45deg);
        opacity: 0;
        z-index: 2;
    }

    .arrow-icon-true {
        opacity: 1;
        animation: xiu 0.85s ease-out 0s 1;
    }
}

@keyframes xiu {
    0% {
        opacity: 0;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 15px;
        top: 80px;
        opacity: 1;
    }
}

@keyframes circleChange {
    0% {
        transform: scale(1);
        opacity: 0.95;
    }
    25% {
        transform: scale(1.2);
        opacity: 0.75;
    }
    50% {
        transform: scale(1.3);
        opacity: 0.5;
    }
    75% {
        transform: scale(1.4);
        opacity: 0.25;
    }
    100% {
        transform: scale(1.5);
        opacity: 0.05;
    }
}

@keyframes navdown {
    0% {
        top: -66px;
        opacity: 0.1;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
