.nav-wrap{
    width: 100vw;
    height: 66px;
    background-color: antiquewhite;
    display: flex;
    line-height: 46px;
    padding: 10px;
    box-sizing: border-box;
    .logo{
        flex: 1;
        font-family: Pacifico-Regular;
        cursor: pointer;
        user-select:none; 
        .logo-img{
            width: 46px;
            margin-right: 10px;
        }
    }
}