@mixin links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    // padding-left: 10px;
}

.article-list {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
    position: relative;
    overflow: hidden;
    &-content {
        background-color: rgba($color: #ffffff, $alpha: 0.8);
        min-height: 100vh;
        position: relative;
        margin: 66px auto 0px;
    }
    .articles-flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 24px;
        &-items {
            min-height: 500px;
            background-color: #fff;
            border-radius: 8px;
            margin-bottom: 24px;
            box-sizing: border-box;
            padding: 10px 24px;
            overflow: hidden;
            @include flexCenter;
            justify-content: space-around;
            .title-icon {
                width: 50px;
                margin-bottom: 5px;
            }
            .title {
                width: 100%;
                text-align: center;
                height: 36px;
                font-size: 24px;
                line-height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 5px 0;
            }
            .cover {
                width: 100%;
                border-radius: 4px;
                margin: 5px 0;
                box-shadow: 0 5px 15px 0 rgb(0 0 0 / 35%);
            }
            .desc {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-indent: 2em;
                margin: 5px 0;
            }
            .links {
                margin: 5px 0;
                @include links;
                &-link {
                    @include flexCenter;
                }
                &-icon {
                    width: 30px;
                    margin: 0 8px;
                }
                &-title {
                    font-weight: 600;
                }
            }
            .tech-Stack {
                margin: 5px 0;
                @include links;
                &-link {
                    @include flexCenter;
                }
                &-icon {
                    width: 30px;
                    margin: 0 8px;
                }
                &-title {
                    font-weight: 600;
                }
            }
            .msgs {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: #888888;
                &-item-wrap {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }
                &-item-icon {
                    width: 16px;
                    height: 16px;
                    margin-right: 6px;
                }
                .time {
                    flex: 1;
                }
                .views {
                    margin-right: 10px;
                    .msgs-item-icon {
                        transform: rotate(36deg);
                    }
                }
                .stars {
                }
            }
        }
        &-control {
            height: 0px;
            visibility: hidden;
        }
    }
}

@media (max-width: 768px) {
    .article-list-content {
        width: 100%;
    }
    //一栏
    .articles-flex {
        &-items {
            width: 100%;
        }
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .article-list-content {
        width: 90%;
        border-radius: 6px;
    }
    // 两栏
    .articles-flex {
        &-items {
            width: calc(50% - 34px);
        }
        &-control {
            width: calc(50% - 34px);
        }
    }
}

@media (min-width: 1279px) and (max-width: 1599px) {
    .article-list-content {
        width: 90%;
        border-radius: 6px;
    }
    // 三栏
    .articles-flex {
        &-items {
            width: calc(33.4% - 34px);
        }
        &-control {
            width: calc(33.4% - 34px);
        }
    }
}
@media (min-width: 1599px) {
    .article-list-content {
        width: 90%;
        border-radius: 6px;
    }
    // 三栏
    .articles-flex {
        &-items {
            width: calc(25% - 34px);
        }
        &-control {
            width: calc(25% - 34px);
        }
    }
}
