@mixin links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.articles-flex {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    column-gap: 32px;
    column-fill: balance;
    box-sizing: border-box;
    &-items {
        height: 100%;
        background-color: #fff;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px 16px;
        overflow: hidden;
        @include flexCenter;
        justify-content: space-around;
        margin-bottom: 32px;
        &:nth-child(3n) {
            // transform: translateY(32px);
        }
        .title-icon {
            width: 50px;
            margin-bottom: 5px;
        }
        .title {
            width: 100%;
            text-align: center;
            height: 36px;
            font-size: 24px;
            line-height: 36px;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 5px 0;
        }
        .cover {
            width: 100%;
            border-radius: 4px;
            margin: 5px 0;
            box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
            position: relative;
            &:hover {
                transform: scale(1.03);
            }
        }
        .desc {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            text-indent: 2em;
            margin: 5px 0;
        }
        .links {
            margin: 5px 0;
            @include links;
            &-link {
                @include flexCenter;
            }
            &-icon {
                width: 30px;
                margin: 0 8px;
            }
            &-title {
                font-weight: 600;
            }
        }
        .tech-Stack {
            margin: 5px 0;
            @include links;
            &-link {
                @include flexCenter;
            }
            &-icon {
                width: 30px;
                margin: 0 8px;
            }
            &-title {
                font-weight: 600;
            }
        }
        .msgs {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #888888;
            &-item-wrap {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
            &-item-icon {
                width: 16px;
                height: 16px;
                margin-right: 6px;
            }
            .time {
                flex: 1;
            }
            .views {
                margin-right: 10px;
                .msgs-item-icon {
                    transform: rotate(36deg);
                }
            }
            .stars {
            }
        }
    }
    &-control {
        height: 0px;
        visibility: hidden;
    }
}

@media (max-width: 580px) {
    //一栏上下布局
    .articles-flex {
        column-count: 1;
        width: calc(100% - 40px);
        max-width: 440px;
    }
}

@media (min-width: 581px) and (max-width: 1024px) {
    // 一栏左右布局
    .articles-flex {
        column-count: 1;
        width: 48%;
        max-width: 440px;
    }
}

@media (min-width: 1025px) and (max-width: 1366px) {
    // 两栏
    .articles-flex {
        width: calc(100% - 468px);
        column-count: 2;
    }
}
@media (min-width: 1367px) and (max-width: 1920px) {
    // 三栏
    .articles-flex {
        width: calc(100% - 688px);
        column-count: 3;
    }
}

@media (min-width: 1921px) {
    // 四栏
    .articles-flex {
        width: 65%;
        column-count: 4;
    }
}
