.one-word {
    @include Container;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .word {
        color: #ffffff;
        font-size: 36px;
        line-height: 60px;
        text-align: center;
        padding: 10px;
        white-space: pre-line;
        transform: translateY(-33px);
    }
}
